body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

[data-js="app"]:not(.is-active) {
  display: none;
}

[data-js="link"] {
  display: inline-block;
  padding: 1.375rem 0.725rem;
  color: white;
  background: #2c3e50;
  border-radius: 0.25rem;
  transition: all ease 250ms;
  text-decoration: none;
}

[data-js="link"]:hover, [data-js="link"]:focus {
  border-radius: 1.5rem;
}
